# Python virtual environment
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Firebase secret
app/firebase_key.json

# Terraform local state
*.tfstate
*.tfstate.*

# Terraform directories
.terraform/
.terraform.lock.hcl

# Crash logs
crash.log

# IDE / OS files
.vscode/
.DS_Store
