name: CI
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then
            pip install -r requirements.txt
          fi

      - name: Setup Firebase Key
        run: |
          echo "${{ secrets.FIREBASE_KEY }}" > firebase_key.json
          export GOOGLE_APPLICATION_CREDENTIALS="$(pwd)/firebase_key.json"
      - name: Run Testcases
        run: |
          pytest -v test/test_main.py
